{% extends 'test/base.html' %}
{% load static %}
{% block content %}

    <!-- PAGE-HEADER -->
    <div class="page-header">
        <h1 class="page-title">Список адресов</h1>
        <div>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:void(0)">Адреса</a></li>
                <li class="breadcrumb-item active" aria-current="page">Список адресов</li>
            </ol>
        </div>
    </div>
    <!-- PAGE-HEADER END -->

    <!-- ROW OPEN -->
    <div class="row row-cards">
        <div class="col-lg-12 col-xl-12">
            <div class="input-group mb-5">
                <input type="text" class="form-control" placeholder="Search">
                <div class="input-group-text btn btn-primary">
                    <i class="fa fa-search" aria-hidden="true"></i>
                </div>
            </div>
            <div class="card">
                <div class="card-header border-bottom-0">
                    <h2 class="card-title">{{ addresses.count }} - адрес{{ addresses.count|pluralize:"ов|а|ов" }}</h2>
                    <div class="page-options ms-auto">
                        <select class="form-control select2 w-100">
                            <option value="asc">Latest</option>
                            <option value="desc">Oldest</option>
                        </select>
                    </div>
                </div>
                <div class="e-table px-5 pb-5">
                    <div class="table-responsive table-lg">
                        <table class="table border-top table-bordered mb-0">
                            <thead>
                            <tr>
                                {% if address.geo == None %}
                                {% elif address.geo %}
                                    <th class="text-center">Карта</th>
                                {% endif %}
                                <th>Адрес</th>
                                <th class="text-center">Параметры</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for address in addresses %}

                                <tr>
                                    {% if address.geo == None %}
                                    {% elif address.geo %}
                                        <td class="align-middle text-center">
                                            <a href="yandexnavi://map_search?text={{ address.geo }}"
                                               class="btn btn-orange">Маршрут</a>
                                        </td>
                                    {% endif %}
                                    <td class="text-nowrap align-middle"><a
                                            href="{% url 'address_detail_test' address.pk %}">{{ address.city }}
                                        {{ address.street|truncatechars:9 }} {{ address.house_number }}</a></td>
                                    <td class="text-center align-middle">
                                        <div class="btn-group align-top">
                                            <a class="btn btn-sm btn-primary badge"
                                               href="{% url 'address_update_test' address.pk %}">Изменить</a>
                                            <a class="btn btn-sm btn-primary badge"
                                               href="{% url 'address_delete_test' address.pk %}"><i class="fa fa-trash"></i></a>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- COL-END -->
    </div>
    <!-- ROW CLOSED -->
{% endblock %}